* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.site-wrapper {
  max-width: 1280px;
  min-height: 500px;
  background-color: lightgray;
  margin: 0 auto;
  position: relative;
}

.nav-holder {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
}
.nav-holder nav {
  width: 980px;
  height: 90px;
  margin: 0 auto;
  border-bottom: solid #fff 2px;
  color: white;
}
.nav-holder nav .words {
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  letter-spacing: 1px;
}
.nav-holder nav .words .logo {
  width: 92px;
  height: 42px;
  outline: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav-holder nav .words a {
  text-decoration: none;
  color: white;
}

@media (max-width: 760px) {
  .nav-holder .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.home .hero {
  max-width: 100%;
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
.home .hero .callout {
  width: 416px;
  min-height: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.home .hero .callout h1 {
  margin-bottom: 50px;
}
.home .hero .callout p {
  margin-bottom: 50px;
}
.home .hero .callout span {
  background-color: #79addc;
  color: #fff;
  padding: 11px 21px;
  border: none;
}
.home .promo {
  max-width: 818px;
  min-height: 304px;
  background-image: url(hero.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin: -43px auto 0 auto;
}
.home .promo span {
  background-color: #79addc;
  border-radius: 20px;
  color: #fff;
  padding: 11px 21px;
  border: none;
  font-size: small;
}
.home .form-area {
  max-width: 818px;
  min-height: 304px;
  margin: 50px auto 0 auto;
}
.home .form-area .form .two-input {
  min-height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.home .form-area .form .two-input .left {
  width: 344px;
  border-style: solid;
  border-color: #79addc;
  border-width: 2px;
}
.home .form-area .form .two-input .right {
  width: 453px;
  border-style: solid;
  border-color: #79addc;
  border-width: 2px;
}
.home .form-area .form .three-input {
  min-height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.home .form-area .form .three-input .left {
  width: 120px;
  height: 50px;
  border-style: solid;
  border-color: #79addc;
  border-width: 2px;
}
.home .form-area .form .three-input .right {
  width: 120px;
  height: 50px;
  border-style: solid;
  border-color: #79addc;
  border-width: 2px;
}
.home .form-area .form .big-input {
  min-height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #79addc;
  border-width: 2px;
}
.home .form-area .form .big-input .left {
  width: 1020px;
  height: 190px;
}
.home .form-area .form .single-line-input-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.home .form-area .form .single-line-input-holder .large-input {
  width: 698px;
  height: 50px;
  border-style: solid;
  border-color: #79addc;
  border-width: 2px;
}
.home .form-area .form .double-line-input-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .form-area .form .double-line-input-holder .large-input {
  width: 50px;
  height: 50px;
}
.home .form-area .form span {
  background-color: #79addc;
  border-radius: 20px;
  color: #fff;
  padding: 11px 380px;
  border: none;
}

@media (max-width: 760px) {
  .home .promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer {
  height: 100px;
  background-color: #79ADDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .words3 {
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
}
footer .words3 .logo {
  width: 92px;
  height: 42px;
  outline: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
footer .footer .fa-instagram {
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .footer .fa-square-facebook {
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .footer .fa-twitter {
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.background-props {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tour-component {
  height: 304px;
  width: 236px;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tour-component .info-holder {
  color: white;
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.isreal-pic {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-01.jpg);
}

.usa-pic {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-02.jpg);
}

.australia-pic {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-03.jpg);
}